@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

#main {
    position: relative;
    z-index: 10;
    min-height: 206.4rem;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

#nav-content {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-content h4 {
    padding: 10px 20px;
    border: 1px solid #4c4f6581;
    border-radius: 22px;
    font-weight: 500;
    transition: all ease 0.4s;
    position: relative;
    font-size: 15px;
    overflow: hidden;
    color: #4c4f65;
}

#nav-content h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:#4c4f65;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-content h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-content h4 a {
    color: #4c4f65;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-content h4:hover a{
    color: #ebebeb;
}

#nav-content h4:active a{
    color: #ebebeb;
    z-index: 10;
}
nav .menu-buttons {
    display: none;
}

nav h3 {
    display: none;
    cursor: pointer;
    margin: 0 10px; 
    padding: 10px 20px;
    border: 1px solid #4c4f6581;
    border-radius: 22px;
    font-weight: 400;
    transition: all ease 0.4s;
    position: relative;
    font-size: 11px;
    overflow: hidden;
    color: #4c4f65;
}

nav h3.active {
    display: block;
}

nav h3.hidden {
    display: none;
}

#center {
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #4c4f65;
    padding-bottom: 2.5vw;
    color: #4c4f65;
}

#left h2 {
    width: 25vw;
    font-size: 2.9vw;
    font-weight:bolder;
    line-height: 2vw;
    padding-bottom: 0.81rem;
}

#left h5 {
    width: 25vw;
    font-size: 1.1vw;
    font-weight: lighter;
    line-height: 2vw;
    color: #4c4f65;
    padding-bottom: 0.81rem;
}

#left h5 ion-icon {
    margin-right: 2.2px;
    color: #4c0f03;
    margin-bottom: -3.25px;
}

#left h3 {
    width: 32vw;
    font-size: 1.8vw;
    line-height: 2vw;
    padding-bottom: 0.81rem;
}

#links {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#links a:hover {
    color: #FE320A;
}

#links a {
    margin-right: 7.9px;
    padding-bottom: 0.81rem;
    font-size: larger;
    color: #4c4f65;
    transition: color 0.2s;
    justify-content: center;
}

#left h4 {
    padding: 10px 20px;
    width: max-content;
    border: 1px solid #4c4f6581;
    border-radius: 22px;
    font-weight: 500;
    transition: all ease 0.4s;
    position: relative;
    font-size: 14px;
    overflow: hidden;
    color: #4c4f65;
}

#left h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FE320A;;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#left h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#left h4 a {
    color: #4c4f65;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#left h4:hover a {
    color: #ebebeb;
}

#center h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}

#hero-shape {
    position: absolute;
    width: 70vw;
    height: 42vw;
    right: 0;
    top: 45vh;
    margin-top: 15rem;
}

#hero-1 {
    background-color: #FF5733;
    height: 100%;
    width: 100%;
    border-radius: 80%;
    filter: blur(8vw);
    position: absolute;
    animation-name: anime1;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#hero-2 {
    background: linear-gradient(#FF5733, #FF6F33);
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    filter: blur(140px);
}

#hero-3 {
    background: linear-gradient(#FF5733, #FF6F33);
    height: 25vw;
    position: absolute;
    width: 25vw;
    border-radius: 60%;
    filter: blur(140px);
    animation-name: anime3;
    animation-duration: 11s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -1;
}

#hero-4 {
    background: linear-gradient(#FF5733, #FF6F33);
    height: 35vw;
    width: 35vw;
    border-radius: 70%;
    position: absolute;
    animation-name: anime4;
    animation-duration: 13s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    filter: blur(160px);
    z-index: -2;
}

#hero-5 {
    background: linear-gradient(#FF5733, #FF6F33);
    height: 20vw;
    position: absolute;
    width: 20vw;
    border-radius: 40%;
    filter: blur(160px);
    animation-name: anime5;
    animation-duration: 14s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: -3;
}

@keyframes anime1 {
    from {
        transform: translate(50%, -30%) rotate(0deg);
    }

    to {
        transform: translate(-30%, 50%) rotate(360deg);
    }
}

@keyframes anime2 {
    from {
        transform: translate(30%, -40%) rotate(0deg);
    }

    to {
        transform: translate(-50%, 30%) rotate(-360deg);
    }
}

@keyframes anime3 {
    from {
        transform: translate(20%, -20%) rotate(0deg);
    }

    to {
        transform: translate(-20%, 40%) rotate(360deg);
    }
}

@keyframes anime4 {
    from {
        transform: translate(10%, -30%) rotate(0deg);
    }

    to {
        transform: translate(-30%, 20%) rotate(-360deg);
    }
}

@keyframes anime5 {
    from {
        transform: translate(40%, -10%) rotate(0deg);
    }

    to {
        transform: translate(-10%, 30%) rotate(360deg);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    color: #4c4f65;
    padding:14.96vw 0;
    position: var(100vw);
}

#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.cont {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 8.75em;
    font-weight: 500;
    letter-spacing: -0.03em;
    display: inline-block;
}

#dot {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE320A;
    margin: 1.1vw 2.2vw;
}

@keyframes move {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 3.5em;
    font-weight: 500;
    width: 60%;
    line-height: 4vw;
    letter-spacing: -.03em;
    margin-top: 10vh;
}

#bottom-part2 {
    width: 20%;
}

#bottom-part2 img {
    width: 100%;
    border-radius: .4em;
    vertical-align: middle;
    margin-top: 52.6vh;
}

#bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 0.97vw;
    justify-content:left;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 2.69vw 0;
}

#heading {
    grid-column-gap: .5em;
    grid-row-gap: .5em;
    flex-direction: row;
    align-items: center;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 3.81em;
    display: flex;
}

#red-dot {
    background-color: #FE320A;
    border-radius: 100vw;
    width: .5em;
    height: .5em;
}

#page3 h6 {
    letter-spacing: .02em;
    text-transform: uppercase;
    font-family: Neuehaasdisplay roman, sans-serif;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.2;
    color: #4c4f65;
}

#elem-container {
    margin-bottom: 4rem;
    margin-left: 27.4rem;
    margin-right: 2.9rem;
}

.elem {
    height: auto;
    min-height: 145px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    color: #4c4f65;
    cursor: pointer;
    justify-content: space-between;
}

.elem h2 {
    font-size: 2.89vw;
    position: relative;
    z-index: 9;
}

.elem h4 {
    font-size: 1.8vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
}

.elem:hover .overlay {
    transform: translateY(0);
}

#fixed-image {
    height: 29vw;
    width: 25vw;
    border-radius: 11px;
    position: fixed;
    z-index: 99;
    left: 2%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}

.card {
    background-color: #17181e;
    border-radius:11px;
    border: #4c4f65;
    box-shadow: 0 4px 8px #4c4f65;
    max-width: 56%;
    overflow: hidden;
    display: none; 
    position: relative;
    color: #EFEAE3;
    margin: -6.92rem auto;
    margin-top: 2.1vh;
    margin-bottom: 2.1vh;
}

.card-header {
    padding: 16px;
    text-align: center;
    position: relative;
}

.card-header h2 {
    margin: 0;
    color: #EFEAE3;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #EFEAE3;
    background-color: transparent;
    border: none;
    outline: none;
}

.card-body {
    padding: 16px;
}

.card-body p {
    margin: 16px 0;
    font-size: 14px;
    line-height: 1.5;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 16px;
}

.features span {
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
}

.card-footer {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 23.2vw;
}

.tags .tag {
    background-color: #EFEAE3;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    color: #4c4f65;
}

.actions {
    display: flex;
    gap: 8px;
}

.btn {
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
}

.github {
    background-color: #EFEAE3;
    color: #4c0f03;
}

.tour {
    background-color: #4c0f03;
    color: #EFEAE3;
}

#page4 {
    justify-content: center;
    align-items: center;
    height: 81vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 4.56vw 2vw;
    color: #4c4f65;
}

#page4 #heading {
    margin-top: 1.75rem;
}

#page4 h6 {
    letter-spacing: .02em;
    text-transform: uppercase;
    font-family: Neuehaasdisplay roman, sans-serif;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.2;
    color: #4c4f65;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.box {
    background-color: #4c0f03;
    border-radius: 11px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    padding: 22px;
}

.box h3 {
    margin-bottom: 24.8px;
    font-size: 1.11em;
    color: #EFEAE3;
}

.skillstags {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
}

.skillstag {
    background-color: #EFEAE3;
    border-radius: 16px;
    padding: 5px 10px;
    font-size: 0.81em;
    color: #4c4f65;
}

#footer {
    position: relative;
    z-index: 10;
    background-color: #17181e;
    color: #EFEAE3;
    width: 100%;
    padding: 1vw 3vw;
    margin-bottom: 0;
}

#footer-top {
    border-bottom: 1px solid #c9cad1;
    height: 4vh;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

#footer-div {
    height: 48vh;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 12.7rem;
}

.contact-container {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 76vh;
    text-align: center;
}

.contact-container h1 {
    font-size: 111px;
    margin-bottom: 1.12rem;
}

.contact-container p {
    font-size: small;
    color: #EFEAE3;
    justify-content: center;
    margin-bottom: 0.72rem;
}

#email a {
    font-size: small;
    color: #EFEAE3;
    justify-content: center;
    text-decoration: none;
}

#email a:hover {
    color: #FE320A;
    z-index: 10;
}

#footer-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 0.72rem;
}

#footer-links a {
    position: relative;
    z-index: 10;
    display: inline-block;
    font-size: large;
    transition: color 0.2s;
    text-decoration: none;
    color: #EFEAE3;
    margin-right: 7.9px;
}

#footer-links a:hover {
    color: #FE320A;
    z-index: 10;
}

#footer-bottom {
    border-top: 1px solid #c9cad1;
    height: 4vh;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

#whom, #what, #when, #tagline {
    text-align: left;
    margin-top: 9px;
    font-size: smaller;
}

#whom ion-icon {
    margin-bottom: -2.85px;
    font-size: larger;
}

#loader {
    height: 100%;
    width: 100%;
    background-color: #17181e;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: top 0.7s ease, opacity 0.7s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

#loader h1 {
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right, orange, #FE320A);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

#loader h1:nth-child(2) {
    animation-delay: 2s;
}

#loader h1:nth-child(3) {
    animation-delay: 3s;
}

@keyframes load {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 768px) {

    #main {
        min-height: 111rem;
        overflow-x: hidden;
    }

    nav #nav-content {
        display: none;
    }

    nav #nav-content.active {
        display: flex;
        flex-direction: column;
        background-color: #17181e;
        position: fixed;
        top: 72px;
        left: 0;
        width: 100%;
        height: auto;
        padding: 22px;
        gap: 4px;
        z-index: 99;
        border-bottom-left-radius: 22px;
        border-bottom-right-radius: 22px;
    }

    nav h3 {
        display: block;
        animation: fadeIn 1s ease-in-out;
        font-size: 14.5px;
    }

    nav .menu-buttons {
        position: fixed;
        display: flex;
        align-items: flex-start;
        margin-top: 45px;
    }
    
    nav h3#close-button {
        display: none;
    }

    nav h3#close-button.active {
        display: block;
        animation: fadeIn 1s ease-in-out;
        border: none;
        font-size: large;
    }

    #nav-content h4 {
        width: 100%;
        text-align: left;
        padding: 15px 0;
        font-size: 42px;
        position: relative;
        overflow: hidden;
        border: none;
        animation: fadeIn 1s ease-in-out;
        transition: color 0.3s ease-in-out;
    }
    
    #nav-content h4 a {
        color: #EFEAE3;
        text-decoration: none;
        display: block;
        width: 100%;
        position: relative; 
        z-index: 1;
        animation: fadeIn 1s ease-in-out;
        transition: color 0.3s ease-in-out;
    }

    #nav-content h4::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #17181e;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s ease-in-out;
    }

    #nav-content h4:hover::after {
        transform: scaleX(1);
        transform-origin: left;
        background-color: #FE320A;
    }
    

    #nav-content h4:hover a{
        color: #FE320A;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    #center {
        height: 100vh; 
        width: 100%;
        display: flex;
        flex-direction: column; 
        align-items: flex-start; 
        justify-content: flex-start; 
        border-bottom: 1px solid #4c4f65;
        padding: 18vw 2.5vw;
        color: #4c4f65;
    }

    #left h2 {
        width: 90%; 
        font-size: 4.8vw; 
        line-height: 5vw;
        padding-bottom: 0.75rem;
    }

    #left, #right {
        width: 100%;
    }

    #right {
        order: 1;
    }

    #left {
        order: 2;
    }

    #left h5 {
        width: 100%;
        font-size: 1.9vw;
        padding-bottom: 0.75rem; 
    }

    #left h3 {
        width: 60%;
        font-size: 3.2vw;
        line-height: 3.8vw;
        padding-bottom: 0.75rem; 
    }

    #links a {
        margin-right: 8px;
        padding-bottom: 0.75rem; 
        font-size: 2.256vw;
    }

    #center h1 {
        font-size: 13.5vw;
        line-height: 11vw;
        padding-bottom: 10%;
    }

    #left h4 {
        font-size: 12px;
    }

    #hero-shape {
        width: 100vw; 
        height: 48vw; 
        right: 0;
        top: 95vh;  
    }

    #page2 {
        padding: 5.2vw 0;
    }

    #moving-text h1 {
        font-size: 3.59em;
    }
    
    #dot {
        height: 28px;
        width: 28px;
    }

    #page2-bottom {
        flex-direction: column;
        padding: 6vw;
        height: auto;
        align-items: flex-start;
    }

    #page2-bottom h1 {
        font-size: 2.2em;
        line-height: 3.9vw;
        width: 100%;
        margin-top: 5vh;
        letter-spacing: -0.01em;
    }

    #bottom-part2 {
        width: 100%;
        margin-top: 5vh;
    }

    #bottom-part2 img {
        width: 48%;
        border-radius: 0.4em;
        margin-top: 2.2vh;
    }

    #bottom-part2 p {
        width: 48%;
        font-size: 1.87vw;
        margin-top: 4vw;
    }

    #elem-container {
        margin-bottom: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .elem {
        min-height: 120px;
        padding: 0 5vw;
    }

    .elem h2 {
        font-size: 4.8vw;
    }

    .elem h4 {
        display: none;
    }
    
    .card {
        max-width: 72%;
        right: 0; 
        margin: -6.92rem auto;
        margin-top: 2.1vh;
        margin-bottom: 2.1vh;
    }

    .tags {
        width: 32vw;
    }

    #fixed-image {
        position: absolute; 
    }

    .container {
        gap: 11px;
        padding: 11px;
        max-width: 680px;
    }

    .contact-container h1 {
        font-size: 65px;
    }

    #loader h1 {
        font-size: 4.8vw;
    }
}